/* //---------- Variables ----------// */

/* ---------- Images ---------- */

$app-image-circle-90-height: 90px;
$app-image-circle-90-width: 90px;
$app-image-circle-60-width: 60px;
$app-image-circle-60-height: 60px;
$app-image-circle-120-width: 120px;
$app-image-circle-120-height: 120px;

/* ---------- Size ---------- */

$app-w-100-percent: 100%;
$app-h-100-percent: 100%;
$app-w-100: 100vw;
$app-h-100: 100vh;

/* ---------- Overflow ---------- */

$app-auto-overflow: auto;
$app-hidden-overflow: hidden;
$app-scroll-overflow: scroll;

/* ---------- Margin & Padding ---------- */

/* Margin */

$app-margin-top-0: 0;
$app-margin-bottom-0: 0;
$app-margin-left-0: 0;
$app-margin-right-0: 0;
$app-margin-auto: 0 auto;
$app-margin-10: 10px;
$app-margin-top-10: 10px;
$app-margin-left-20: 20px;
$app-margin-right-0: 0;
$app-margin-bottom-10: 10px;

/* Padding */

$app-padding-top-0: 0;
$app-padding-bottom-0: 0;
$app-padding-left-0: 0;
$app-padding-right-0: 0;
$app-padding-top-10: 10px;
$app-padding-bottom-10: 10px;
$app-padding-10: 10px;
$app-padding-20: 20px;

/* ---------- Position ---------- */

$app-float-left: left;
$app-float-right: right;
$app-absolute-position: absolute;
$app-relative-position: relative;
$app-fixed-position: fixed;
$app-middle-align-self: center;
$app-middle-align-content: center;
$app-middle-text-align: center;
$app-top-2-percent: 2%;
$app-left-25-percent: 25%;
$app-width-75-percent: 75%;

/* ---------- Background ---------- */

$app-noBg: none;
$app-gradient-blue-1-set-1: rgb(43,39,116);
$app-gradient-blue-1-set-2: linear-gradient(204deg, rgba(43,39,116,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
$app-gradient-gray-1-set-1: rgb(32,23,23);
$app-gradient-gray-1-set-2: linear-gradient(34deg, rgba(32,23,23,1) 0%, rgba(20,20,20,1) 35%, rgba(41,38,38,1) 100%);

/* ---------- Text Color ---------- */

$app-text-red-1: rgb(231,76,60);
$app-text-blue-1: rgb(96, 163, 188);
$app-text-blue-2: rgb(60, 141, 170);

/* ---------- Border ---------- */

$app-circle-border-radius: 100px;

/* ---------- Animation ---------- */

$app-anim-set-1: linear;
$app-anim-set-2: cubic-bezier(0, 0, 1, 1);
$app-anim-set-3: ease;
$app-anim-set-4: cubic-bezier(0.25, 0.1, 0.25, 1);
$app-anim-set-5: ease-in-out;
$app-anim-set-6: cubic-bezier(0.42, 0, 0.58, 1);
$app-anim-set-7: ease-in;
$app-anim-set-8: cubic-bezier(0.42, 0, 1, 1);
$app-anim-set-9: ease-out;
$app-anim-set-10: cubic-bezier(0, 0, 0.58, 1);

/* //---------- Customize Chatbot ----------// */


#app {

  /* ---------- Positions ---------- */

  .middle{
    align-content: $app-middle-align-content;
    align-self: $app-middle-align-self;
    text-align: $app-middle-text-align;
  }

  .margin-auto{
    margin: $app-margin-auto;
  }

  .float-right{
    float: $app-float-right;
  }

  .float-left{
    float: $app-float-left;
  }

  .position-fixed{
    position: $app-fixed-position;
  }

  .position-fixed-bottom{
    position: $app-fixed-position;
    bottom: 10px;
    width: 1110px;
  }

  .relative{
    position: $app-relative-position;
  }

  .absolute{
    position: $app-absolute-position;
  }

  .scroll{
    overflow: $app-scroll-overflow;
  }

  .padding-20{
    padding: $app-padding-20;
  }

  .padding-top-10{
    padding-top: $app-padding-top-10;
  }

  .margin-top-10{
    padding-top: $app-margin-top-10!important;
  }

  .margin-bottom-10{
    margin-bottom: $app-margin-bottom-10;
  }

  .top-2{
    margin-top: $app-top-2-percent;
  }

  .left-25{
    margin-left: $app-left-25-percent;
  }

  /* ---------- Sizes ---------- */

  .w-75p{
    width: $app-width-75-percent;
  }

  .w-100p{
    width: $app-w-100-percent;
  }

  .h-100v{
    height: $app-h-100;
  }

  .h-100v2{
    min-height: $app-h-100;
  }

  /* ---------- Gradients ---------- */

  /* BACKGROUND */

  .noBg{
    background: $app-noBg;
  }

  .gradient-blue-1{
    background: $app-gradient-blue-1-set-1;
    background: $app-gradient-blue-1-set-2;
  }

  .gradient-gray-1{
    background: $app-gradient-gray-1-set-1;
    background: $app-gradient-gray-1-set-2;
  }

  /* ---------- Colors ---------- */

  /* TEXT */

  .red{
    color: $app-text-red-1;
  }

  .text-muted {
    color: $app-text-blue-1!important;
  }

  .plane, .voice{
    color: $app-text-blue-1!important;
    &:hover{
    color: $app-text-blue-2!important;
    transition-timing-function: $app-anim-set-1;
    transition-timing-function: $app-anim-set-2;
    transform: translateX(15%);
    transition: 0.5s;
      &::before{
        left:0;
      }
      &::after{
        left:10px;
      }
    }
  }

  /* ---------- Elements ---------- */

  .container-fluid{
    height: $app-h-100;
  }

  .form-control{
    width: 740px!important;
  }

  .btn{
    width: 90px!important;
  }

  .circle{
    border-radius: $app-circle-border-radius;
  }

  /* IMAGE */

  .image-circle-60{
    width: $app-image-circle-60-width;
    height: $app-image-circle-60-height;
  }

  .image-circle-90{
    width: $app-image-circle-90-width;
    height: $app-image-circle-90-height;
  }

  .image-circle-120{
    width: $app-image-circle-120-width;
    height: $app-image-circle-120-height;
  }

}
