/* //---------- Variables ----------// */

/* ---------- Images ---------- */

$app-image-circle-90-height: 90px;
$app-image-circle-90-width: 90px;
$app-image-circle-60-width: 60px;
$app-image-circle-60-height: 60px;
$app-image-circle-120-width: 120px;
$app-image-circle-120-height: 120px;

/* ---------- Size ---------- */

$app-w-100-percent: 100%;
$app-h-100-percent: 100%;
$app-w-100: 100vw;
$app-h-100: 100vh;

/* ---------- Overflow ---------- */

$app-auto-overflow: auto;
$app-hidden-overflow: hidden;
$app-scroll-overflow: scroll;

/* ---------- Margin & Padding ---------- */

$app-margin-0: 0;
$app-margin-auto: 0 auto;
$app-margin-10: 10px;
$app-margin-left-20: 20px;
$app-margin-right-0: 0;
$app-padding-top-10: 10px;
$app-padding-10: 10px;
$app-padding-20: 20px;

/* ---------- Position ---------- */

$app-float-left: left!important;
$app-float-right: right!important;
$app-absolute-position: absolute!important;
$app-relative-position: relative!important;
$app-fixed-position: fixed;
$app-middle-align-self: center;
$app-middle-align-content: center;
$app-middle-text-align: center;
$app-left-25-percent: 25%!important;
$app-width-60-percent: 60%!important;

/* ---------- Background ---------- */

$app-gradient-blue-1-set-1: rgb(43,39,116);
$app-gradient-blue-1-set-2: linear-gradient(204deg, rgba(43,39,116,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
$app-gradient-gray-1-set-1: rgb(32,23,23);
$app-gradient-gray-1-set-2: linear-gradient(34deg, rgba(32,23,23,1) 0%, rgba(20,20,20,1) 35%, rgba(41,38,38,1) 100%);

/* ---------- Text Color ---------- */

$app-text-red-1: rgb(231,76,60);

/* ---------- Border ---------- */

$app-circle-border-radius: 100px;


/* //---------- Customize Chatbot ----------// */


#app {

  /* ---------- Positions ---------- */

  .middle{
    align-content: $app-middle-align-content;
    align-self: $app-middle-align-self;
    text-align: $app-middle-text-align;
  }

  .margin-auto{
    margin: $app-margin-auto;
  }

  .padding-20{
    padding: $app-padding-20;
  }

  .padding-top{
    padding-top: $app-padding-top-10;
  }

  .float-right{
    float: $app-float-right;
  }

  .float-left{
    float: $app-float-left;
  }

  .position-fixed{
    position: $app-fixed-position;
  }

  .relative{
    position: $app-relative-position;
  }

  .absolute{
    position: $app-absolute-position;
  }

  .scroll{
    overflow: $app-scroll-overflow;
  }

  .left-25{
    margin-left: $app-left-25-percent;
  }

  /* ---------- Sizes ---------- */

  .w-60p{
    width: $app-width-60-percent;
  }

  .w-100p{
    width: $app-w-100-percent;
  }

  .h-100v{
    height: $app-h-100;
  }

  /* ---------- Gradients ---------- */

  /* BACKGROUND */

  .gradient-blue-1{
    background: $app-gradient-blue-1-set-1;
    background: $app-gradient-blue-1-set-2;
  }

  .gradient-gray-1{
    background: $app-gradient-gray-1-set-1;
    background: $app-gradient-gray-1-set-2;
  }

  /* ---------- Colors ---------- */

  /* TEXT */

  .red{
    color: $app-text-red-1;
  }

  /* ---------- Elements ---------- */

  .circle{
    border-radius: $app-circle-border-radius;
  }

  /* IMAGE */

  .image-circle-60{
    width: $app-image-circle-60-width;
    height: $app-image-circle-60-height;
  }

  .image-circle-90{
    width: $app-image-circle-90-width;
    height: $app-image-circle-90-height;
  }

  .image-circle-120{
    width: $app-image-circle-120-width;
    height: $app-image-circle-120-height;
  }

}